* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: 0;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
    color: white;
    background: #1f2641;   
}

.container{
    width: 76%;
    margin: 0;
}

section{
    padding: 6rem 0;
}
 section h2{
    text-align: center;
    margin-bottom: 4rem;
 }
 h1 h2 h3 h4 h5{
    line-height: 1.2;
 }
 h1{
    font-size: 2.4rem;
 }
 h2{
    font-size: 25px;
 }
 h3{
 }
 h4{
    font-size: 1.2rem;
 }
 a{
    color: white; 
 }
 .ass{
    margin-left: 50px;
 }
 img{
    width: 100%;
    display: block;
    object-fit: cover;
    margin-top: 20px;
    border-radius: 20px;
 }
 .btn{
    display: inline-block;
    background-color: white;
    color: black;
    padding: 1rem 2rem;
    margin-top: 10px;
    border: 1px solid transparent;
    font-weight: bold;
 }
.btn:hover{
    background: transparent;
    color: white;
    border-color: white;
}
.btn-primary{
    background: rgb(226, 15, 47);
    color: white;
    padding: 10px 10px;
}
.button1{
    width: 30px;
    height: 15px;
    margin-left: 200px;
}
nav{
    width: 100vw;
    height: 80px;

}

.first-img{
    width: 40px;
    font-size: 1.6rem;
    position: fixed;
    top: 0;
    z-index: 11;
    display: inline-block;
}

.container{
   height: 5rem; 
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.nav{
    display: flex;
    align-items: center;
    gap: 6rem;
    margin-left: 200px;

}
.nav a{
    font-size: 0.9rem;
    background-color: lawngreen;
    padding: 10px;
    cursor: pointer;
}
.nav a:hover{
        transition: color 1s ease;
}
.header{
    position: relative;
    top: 10rem;
    left: 8rem;
    overflow: hidden;
    height: 70vh;
    margin-bottom: 5rem; 
}
.header-right-img{
    width: 50vh;
    top: 8rem;
}
.container1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 7rem;
    height: 100%;
}
.header-left {
   margin: 100px 150px;
}
.header-right-img{
    border-radius: 200px;
    width: 300px;
}
button{
    font-size: 14px;
    font-weight: bold;
}
button:hover{
    color: black;
    background: #F1F1F1;
}


/* -------------------*/

.category-icon img{
    width: 50px;
    margin-bottom: 20px;
}

.categories{
    background-color: black;
    height: 650px;
}

.categories h1{
    line-height: 1;
    margin-bottom: 3rem;
}
.container-categories{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}
.categories-left{
    margin: 50px 100px;
}
.categories-right{
    display: grid;
    grid-template-columns: repeat(3, 30%);
    gap: 1.2rem;
    margin-bottom: 50px;
}
.category{
    background: rgb(44, 6, 150);
    padding: 2rem;
    border-radius: 2rem;
    transition: var(..transition);
    cursor: pointer; 
}
.category:hover{
    box-shadow: 0 1rem 1rem rgba(255, 255, 255, 0.1);
}
.category h5{
    background: rgb(202, 4, 4);
    padding: 7px;
    text-align: center;
}


footer{
    background: #330786;
    padding-top: 5rem;
    font-size: 16px;
    line-height: 1.7rem;
    margin-left: 60px;
    margin-right: 60px;

}
.container-footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
}
.container-footer > div h4 {
    margin-bottom: 1.2rem;
    color: aqua;
}
.footer-1 p{
    margin: 1rem 0 2rem;
}
footer ul li{
    margin-bottom: 0.7rem;
    cursor: pointer;
}
footer ul li:hover{
    text-decoration: underline;
    color: rgb(80, 0, 0);
}
.footer-socials{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    font-size: i.5rem;
    margin-top: 1rem;
}
.footer-socials li{
    width: 30px;
    margin-left: 10px;
    justify-items: center;
}
.full{
    background: #330786;
}
.footer-copyright small{
    color: aqua;
    text-align: center;
    margin-bottom: 50px;
    margin-left: 300px;
    padding: 1.2rem 0;
    border-top: 2px solid black;
}